<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- configSections节点让你在Web.config中定义自己想要定义的节点，简单描述为【自定义配置节点】 -->
  <configSections>
    <!-- Entity Framework Config File Settings https://msdn.microsoft.com/en-us/data/jj556606 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <entityFramework>
    <interceptors>
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <!-- 日志输出路径 -->
          <parameter value="D:\EFLog.txt" />
          <!-- true为在旧的日志文件末尾处添加新内容 ，false为覆盖旧的日志文件 -->
          <parameter value="false" type="System.Boolean" />
        </parameters>
      </interceptor>
    </interceptors>
  </entityFramework>

  <connectionStrings>
    <!-- <add name="sqlConnectionString" connectionString="server=服务器名;database=数据库名;uid=用户名;password=密码" providerName="System.Data.SqlClient" /> -->
    <!--<add name="ConnectionString" connectionString="server=.;database=XXX;uid=db;password=db123456." providerName="System.Data.SqlClient" />-->
    <!-- EF的连接字符串 -->
    <add name="XXXEntities" connectionString="metadata=res://*/XXX.csdl|res://*/XXX.ssdl|res://*/XXX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=XXX;persist security info=True;user id=sa;password=db123456.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <!-- 连接字符串是否加密，加密了设为true，未加密设为false -->
    <add key="IsEncryptConnectionString" value="false"/>
    <!-- <add key="名称" value="server=服务器名;database=数据库名;uid=用户名;password=密码;"/> -->
    <add key="ConnectionStringDev" value="server=.;database=XXX;uid=db;password=db123456."/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>

  <!-- 指定可用语言提供程序的编译器配置设置 -->
  <!-- 可能相关的引用【Microsoft.CodeDom.Providers.DotNetCompilerPlatform】（需用NuGet安装，默认是v1.0.0版本） -->
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>